# Bu faylı .env adı ilə kopyala və öz dəyərlərini yaz.
# .env faylı .gitignore-dadır və Git-ə commit olunmamalıdır.

DB_HOST=localhost
DB_PORT=5432
DB_NAME=ecommerce_warehouse
DB_USER=oruc_user
DB_PASSWORD=change_me
