# Python keş faylları (lokal mühitdə avtomatik yaranır, repoya lazım deyil)
__pycache__/
*.pyc

# Virtual mühit (Virtual Environment) qovluqları (bunu birazdan yaradacağıq)
.venv/
venv/
env/

# Gizli məlumatlar və şifrələr (gələcəkdə bura verilənlər bazası şifrələrini qoyacağıq)
.env

# Əməliyyat sisteminin yaratdığı lazımsız fayllar
.DS_Store
Thumbs.db

# Layihə daxilində çəkilən xam və işlənmiş datalar (GitHub-a getməməlidir)
data/